---

import Layout from "../layouts/Layout.astro";

---

<Layout title="About">
	
	<p class="font-light text-gray-500 sm:text:xl dark:text-gray-400">This is the About page of SpaceX</p>
   
</Layout>
